@media (max-width: 1200px) {
  .filters {
    flex-direction: column;
    align-items: stretch;
  }
  .stat-filters,
  .misc-filters {
    width: 100%;
  }
  .search-bar {
    flex-wrap: wrap;
  }
  .search-bar .dropdowns {
    margin-bottom: 1px;
  }
}
@media (max-width: 1024px) {
  .bottom {
    display: none;
  }
}

@media (max-width: 728px) {
  .tab.main,
  .tab.account {
    height: 32px;
  }
  .tab.account span,
  .tab.main span {
    display: none;
  }

  .filter-stats.full > .label {
    grid-column: span 4;
  }
  .filter-stats.full > .selection {
    grid-column: span 6;
  }
}
