@import url(fonts.css);

:root {
  --font-default: Verdana, Arial, Helvetica, sans-serif !important;
  --font-optimus-semibold: "optimus-princeps";
  --font-styled: "FontinRegular";
  --color-text: #ead9af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-styled);
  font-size: 0.9rem;
  color: white;
}
html,
body {
  height: 100%;
}
body {
  background: black url("../assets/settlersofkalguur-bg.jpg") no-repeat top
    center fixed;
  background-size: contain;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
a {
  text-decoration: none;
}
input {
  box-sizing: border-box;
  outline: none;
  font-family: var(--font-default);
  color: #fff1d1;
  line-height: 1.65;
  font-weight: 300;
  font-size: 0.9rem;
}
img {
  border: 0;
  vertical-align: middle;
}
.logo > img {
  max-width: 275px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.main {
  position: relative;
  margin: 30px auto 100px auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 32rem;
}
.main.register.hidden,
.main.login.hidden {
  display: none !important;
}

.main .box {
  width: 100%;
  padding: 40px 70px;
  border-image-source: url("../assets/nine-palace/nine-palace-bg.png");
  border-image-slice: 20 fill;
  border-image-width: 10px;
  position: relative;
}
.main .box::before {
  content: "";
  width: 160px;
  height: 46px;
  background: url("../assets/nine-palace/nine-palace-top.png") no-repeat center
    top;
  background-size: contain;
  position: absolute;
  top: -38px;
  left: 50%;
  margin-left: -80px;
}
.main .box::after {
  content: "";
  width: 285px;
  height: 104px;
  background: url("../assets/nine-palace/nine-palace-bottom.png") no-repeat
    center top;
  background-size: contain;
  position: absolute;
  bottom: -98px;
  left: 50%;
  margin-left: -142px;
}
.main .box .horns-top::before,
.main .box .horns-top::after {
  content: "";
  width: 68px;
  height: 121px;
  background: url("../assets/nine-palace/nine-palace-horn-top.png") no-repeat
    center top;
  background-size: contain;
  position: absolute;
  top: -23px;
}
.horns-top::before,
.horns-bottom::before {
  left: -20px;
}
.horns-top::after,
.horns-bottom::after {
  right: -20px;
  transform: rotateY(180deg);
}

.main .box .horns-bottom::before,
.main .box .horns-bottom::after {
  content: "";
  width: 50px;
  height: 123px;
  background: url("../assets/nine-palace/nine-palace-horn-bottom.png") no-repeat
    center top;
  background-size: contain;
  position: absolute;
  bottom: -74px;
}

.main .box .title h2 {
  color: rgb(234, 217, 175);
  font-size: 32px;
  font-family: cinzel;
  background: linear-gradient(
      0deg,
      color-mix(in srgb, #ffef9a 65%, white),
      color-mix(in srgb, #ffef9a 65%, black)
    )
    repeat bottom 0 left 0;
  line-height: 1.2;
  background-size: 100% 38.4px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 1.6rem;
  position: relative;
}
.main .box .title h2::before {
  content: "";
  width: 308px;
  height: 12px;
  background: url("../assets/nine-palace/login-title-zs.png") no-repeat center
    top;
  background-size: contain;
  background-position: 50% 50%;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%);
}
.main .box p {
  color: #9d9d9d;
  font-weight: 200;
  margin: 2rem 0 1rem;
  text-align: center;
  font-family: var(--font-optimus-semibold);
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.alternate-sign-ins {
  display: flex;
  justify-content: space-evenly;
}
.poe-input {
  display: flex;
  align-items: center;
  position: relative;
  outline: none;
  width: 100%;
}
.poe-input input {
  background-color: black;
  border: 1px solid #4a3d22;
  padding: 1.2rem 0.6rem 0.4rem;
  flex-grow: 1;
  align-self: stretch;
}
.poe-input input:focus-within ~ label.placeholder {
  transform: translateY(calc(-50% - 0.4em)) scale(0.8);
}
.poe-input input:focus {
  box-shadow: 0 0 2px 1px #fff1d1, 0 0 0 2px #4a2d22, inset 0 0 1px #28334133,
    inset 0 1px 1px #2833411a, inset 0 2px 2px #2833411a;
}
.poe-input input::placeholder {
  color: black;
}
.poe-input input:not(:placeholder-shown) ~ label.placeholder {
  transform: translateY(calc(-50% - 0.4em)) scale(0.8) !important;
}

.poe-input label.placeholder {
  position: absolute;
  top: 1.5rem;
  left: 0;
  cursor: text;
  padding: 0.8rem;
  padding-top: 1.1rem;
  line-height: 1.2;
  transition: transform 0.15s;
  transform-origin: top left;
  transform: translateY(-50%);
  color: var(--color-text);
  user-select: none;
  font-family: var(--font-optimus-semibold);
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.remember-forgot span,
.remember-forgot a {
  font-family: var(--font-optimus-semibold);
  color: var(--color-text);
}
.remember-forgot a:hover {
  filter: brightness(1.2);
}
.remember-forgot a:hover{
  filter: brigtness(1.2);
}
.poe-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.remember-forgot span {
  margin-left: 0.8rem;
}
.remember-forgot input {
  cursor: pointer;
  appearance: none;
  height: 1.2em;
  width: 1.2em;
  flex: 0 0 1.2em;
  background-color: black;
  margin: 0;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 40%), inset 0 1px 1px rgb(0 0 0 / 20%),
    inset 0 2px 2px rgb(0 0 0 / 20%), 0px 0px 3px rgba(255, 239, 154, 0.3);
  border: 1px solid #4a3d22;
  border-radius: 0.2em;
}
.remember-forgot svg {
  display: none !important;
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  padding: 0.2em;
  fill: #ead9af;
}
.remember-forgot input:checked ~ svg {
  display: block !important;
}
.signin-signup {
  margin-top: 0.4rem;
  background: url("../assets/nine-palace/button-primary.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-family: cinzel;
  font-weight: 700;
  color: #181818;
  cursor: pointer;
  padding: 1.3rem 1.6rem 1.55rem;
  border: none;
}
.signin-signup:hover {
  filter: brightness(1.2);
}

.or-continue-with {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.6rem 0 0.8rem;
  color: #ccbc91;
  font-family: optimus-princeps;
}
.or-continue-with:before,
.or-continue-with:after {
  content: "";
  flex: 1;
  height: 1px;
  margin-top: -1px;
  background-color: #ccbc91;
}
.or-continue-with::before {
  -webkit-mask-image: linear-gradient(-90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(-90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  margin-right: 2px;
}
.or-continue-with::after {
  -webkit-mask-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  margin-left: 2px;
}

.platform {
  border-radius: 0.2rem;
}
.platform a {
  border-radius: 0.2rem;
  padding: 16px;
  height: 64px;
  width: 64px;
  display: grid;
  place-items: center;
}
.platform a img {
  height: 30px;
  width: 30px;
}

.platform:nth-child(1) a:hover {
  background-color: color-mix(in srgb, white 15%, black);
}
.platform:nth-child(2) a:hover {
  background-color: color-mix(in srgb, black 15%, white);
}
.platform:nth-child(3) a:hover {
  background-color: color-mix(in srgb, white 15%, #267a1c);
}
.platform:nth-child(4) a:hover {
  background-color: color-mix(in srgb, white 15%, #05398e);
}
