@import url(fonts.css);
:root {
  --input-backgrounds: #1e2124;
  --input-labels: #0d0e10;
  --placeholder-color-focused: #707070;
  --font-color: #e2e2e2;
  --fourth-color: #634928;
  --filters-font-color: #fff8e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roman-smallcaps;
  font-size: 14.3px;
}
html,
body {
  height: 100%;
}
body {
  background: black url("../assets/settlersofkalguur-bg.jpg") no-repeat top
    center fixed;
  background-size: contain;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
}
input {
  all: unset;
  box-sizing: border-box;
}
.logout {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  color: var(--filters-font-color);
  padding: 25px;
  cursor: pointer;
  font-family: roman-smallcaps;
}
.logout:hover{
  filter: brightness(1.2);
}

#logo {
  display: flex;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
}
#logo a {
  max-width: 256px;
}
#logo a img {
  width: 155px;
}
#wrapper {
  width: 100%;
  height: 100%;
}
#trade {
  position: relative;
  min-height: 200px;
  max-width: 1520px;
  margin: 0 auto 64px;
}

.hidden {
  visibility: hidden !important;
}

.navigation {
  display: flex;
}

.navigation ul {
  width: 50%;
  list-style: none;
}

.navigation a {
  line-height: 22px;
}
.navigation ul li {
  display: inline;
}
.menu-search,
.menu-bulk {
  float: left;
}
.menu-about,
.menu-settings {
  float: right;
}

.navigation ul li {
  height: 32px;
}
.navigation ul li a {
  display: inline-block;
  height: 100%;
  padding: 5px 10px;
  background-color: rgba(10, 10, 10, 0.9);
}
.navigation ul li a:hover {
  background-color: #5a3806;
}
.navigation ul .menu-bulk a:hover,
.navigation ul .menu-about a:hover,
.navigation ul .menu-settings a:hover {
  background-color: #533e22;
}

.navigation ul .menu-search a {
  background-color: #5a3806;
  border: 1px solid rgba(10, 10, 10, 0);
}
.navigation ul .menu-search a:hover {
  border-left: 1px solid #886437;
  border-top: 1px solid #886437;
  border-right: 1px solid #886437;
}

.navigation ul li a span {
  color: rgb(233, 207, 159);
  padding: 5px;
}
.navigation ul li a i {
  margin-right: 4px;
  color: white;
}
.clr {
  clear: both;
}

.dropdowns .arrow {
  position: absolute;
  height: 34px;
  width: 40px;
  padding: 8px 8px;
  right: 0;
  text-align: center;
}

.search-bar {
  display: flex;
  font-size: 0.9rem;
  padding: 8px 8px 0;
  background-color: black;
  border-top: 1px solid #5a3806;
}
.search-left,
.search-right {
  display: flex;
}
.search-left {
  width: 140%;
}
.search-right {
  width: 100%;
}

.dropdowns {
  display: grid;
  place-items: center normal;
  position: relative;
  min-height: 30px;
  width: 100%;
  font-size: 1em;
  padding: 5px 8px;

  color: var(--font-color);
  background-color: var(--input-backgrounds);
  border-right: 1px solid black;
  cursor: pointer;
  user-select: none;
}

.dropdowns input {
  width: 100%;
  min-height: 20px;
  text-size-adjust: auto;
  padding: 1px 4px;
}
.dropdowns input::placeholder {
  color: var(--font-color);
}
.dropdowns input:focus {
  color: var(--font-color);
  cursor: text;
}
.dropdowns input:focus::placeholder {
  color: var(--placeholder-color-focused);
}
.dropdowns .arrow.rotated .fa {
  transform: rotate(180deg);
}

.search-left .dropdowns.not-empty{
  border: 1px solid #a0a0d0;
}

.filters {
  display: flex;
  padding: 8px 0 0;
  background-color: black;
}
.filters.off {
  display: none;
}
.misc-filters,
.stat-filters {
  position: relative;
  width: 50%;
  padding: 0 10px 10px;
}
.misc-filters {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  margin-bottom: 3px;
  background-color: black;
}
.filter-group {
  position: relative;
  width: 100%;
}

.filter-body {
  width: 100%;
  height: 30px;
  padding: 6px 12px 6px 0;
  color: var(--filters-font-color);
  border-bottom: 1px solid #465260;
  cursor: pointer;
}
.group-btn {
  padding: 0 4px 0 0;
}
.toggle-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 30px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px 12px;
  cursor: pointer;
}

.toggle-btn .kvdratk {
  border: 2px solid black;
  height: 11px;
  width: 11px;
  outline: 2px solid var(--fourth-color);
}

.toggle-btn.on {
  border: 2px solid white;
}

.toggle-btn .kvdratk.on {
  background-color: white;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 3px;
  background-color: black;
}

.controls-left,
.controls-right {
  width: 25%;
}

.controls-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 5px 0 5px;
}

.controls-center .search-btn {
  width: 60%;
  min-width: 34px;
  min-height: 34px;
  padding: 6px;
  background-color: #0f304d;
  border: 1px solid #4c4c7d;
  color: var(--font-color);
  cursor: pointer;
  font-size: 13px;
}
.controls-center .search-btn:hover {
  background-color: #133d63;
}

.controls-right .clear-btn {
  min-height: 34px;
  min-width: 96px;
  background-color: var(--input-backgrounds);
  border: 1px solid black;
  color: var(--font-color);
  cursor: pointer;
}
.controls-right .toggle-search {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;

  min-height: 34px;
  min-width: 128px;
  background-color: #0f304d;
  border: 1px solid #4c4c7d;
  cursor: pointer;
  color: var(--font-color);
}
.controls-right .toggle-search i.rotated {
  transform: rotate(180deg);
  margin-top: 4px;
}
.controls-right span,
.controls-right button {
  font-size: 13px;
}
.controls-right .toggle-search:hover {
  background-color: #133d62;
}

.controls .controls-right .clear-btn:hover {
  background-color: #2d3136;
}
.controls-right {
  text-align: right;
}

.expanded {
  position: relative;
  width: 100%;
  padding: 0 36px;
}
.expanded.off {
  display: none;
}

.filter-stats {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  margin-bottom: 3px;
}

.label {
  height: 30px;
  padding: 6px 12px;
  background-color: var(--input-labels);
  border-left: 1px solid var(--fourth-color);
  color: var(--filters-font-color);
  white-space: nowrap;
  overflow: hidden;
}

.selection {
  position: relative;
  height: 30px;
  padding: 4px 7px;
  margin: 0 2px 0 3px;
  background-color: var(--input-backgrounds);
  cursor: pointer;
}
.selection .filter-tags {
  text-align: center;
  width: 97%;
  padding: 1px 4px;
  color: var(--font-color);
  line-height: 20px;
  position: relative;
}
.selection:focus-within input {
  cursor: text;
}
.selection:focus-within {
  cursor: default;
}
.filter-tags:focus {
  text-align: left;
}
.selection input.filter-tags::placeholder {
  color: var(--font-color) !important;
}
input.filter-tags:focus::placeholder {
  color: var(--placeholder-color-focused) !important;
  text-align: left;
}

.selection .arrow {
  position: absolute;
  right: 0;
  width: 40px;
  text-align: center;
  color: var(--font-color);
  line-height: 24px;
}

.fa {
  transition: transform 0.2s ease;
}
.selection:focus-within .fa {
  transform: rotate(180deg);
}

.min-max {
  padding: 5px;
  height: 30px;
  margin-left: 3px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  background-color: var(--input-backgrounds);
  border: 1px solid var(--input-backgrounds);
}
.min-max::placeholder,
.min-max:focus::placeholder {
  color: #999999;
}

.edit,
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  margin-left: 2px;
}
.edit:hover,
.close:hover {
  background-color: #2d3136;
}

.edit i,
.close i {
  font-size: 16px;
  line-height: 1;
  color: white;
}

.selection.full {
  width: 98.5%;
  grid-column: span 10 !important;
}
.filter-tags.add-stat-filter {
  width: 100%;
  color: var(--filters-font-color);
}

.sockets {
  width: 32px;
  height: 30px;
  text-align: center;
  color: white;
  text-overflow: clip;
  border: 1px solid var(--input-backgrounds);
  background-color: var(--input-backgrounds);
  margin-left: 3px;
}

.sockets.red {
  border-bottom: 1px solid #551111;
}

.sockets.green {
  border-bottom: 1px solid #115511;
}

.sockets.blue {
  border-bottom: 1px solid #111155;
}

.sockets.white {
  border-bottom: 1px solid #ffffff;
}

.min-max:focus {
  box-sizing: border-box;
  border: 1px solid #777777;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(119, 119, 119, 0.6);
}
.sockets:focus {
  border-top: 1px solid #777777;
  border-right: 1px solid #777777;
  border-left: 1px solid #777777;

  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(119, 119, 119, 0.6);
}

.filter-stats .selection.add-stat-group {
  grid-column: 5 / span 6;
  margin-top: 33px;
}

.bottom {
  text-align: center;
  text-decoration: none;
  color: #444444;
  text-align: center;
}

.dropdown {
  display: none;
  position: absolute;
  margin-top: 31px;
  max-height: calc(9 * 30px);
  width: calc(100% - 74px);
  z-index: 1;
  background-color: var(--input-backgrounds);
  border-left: 1px solid var(--fourth-color);
  border-bottom: 1px solid var(--fourth-color);
  border-right: 1px solid var(--fourth-color);
  overflow-y: scroll;
  user-select: none;
}
.dropdown.half {
  width: calc((100% - 74px) / 2 - 1px);
}
.dropdown.half.right {
  margin-left: calc((100% - 74px) / 2 + 1px);
}

.dropdown ul li {
  list-style: none;
}

.dropdown ul li .list-item {
  height: 30px;
  display: block;
  padding: 7px 12px;
  color: var(--font-color);
  cursor: pointer;
}

.dropdown ul li .list-item:hover {
  background-color: #465260;
  font-weight: 1000;
}
.dropdown {
  display: none;
}
.dropdown.show {
  display: block;
}
.selection.not-empty {
  border: 1px solid #a0a0d0;
}
